.venv
models/
functions/__pycache__
qrid_thesis_toolkit.egg-info/
runs/
helpers/__pycache__/
yolov8n.pt
yolov8n.onnx
yolov8n.engine
yolov8n.cache
yolov8n_static_quant.onnx
yolov8n_processed.onnx
calibration_sets
functions/augmentation/__pycache__
validation_datasets
benchmark_results_fp32.json
benchmark_results_static.json
yolo12x_benchmarks
yolo12n_benchmarks